<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Tropas del espacio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="div_it">
    <ion-title>Tropas del espacio</ion-title>
    <img class="bookpreview" src="assets/img/b0002p.jpg" alt="">
    <p class="tf_rating">Categoria: Ciencia ficcion</p>
    <p class="tf_rating">Calificacion: 4.6<img class="iconS" src="assets/icon/star.png" alt=""></p>
   </div>
   
   <div class="container_sy01">
     <button class="bt_option">
       <img class="iconO" src="assets/icon/shared.png" alt="">
       <p>Compartir</p>
     </button>
     <button class="bt_option">
       <img class="iconO" src="assets/icon/favorite.png" alt="">
       <p>Favoritos</p>
     </button>
   </div>
   
   <div name="about">
     <p class="tf_about">Descripcion</p>
     <p class="ta_about">La Tierra, siglo XXIII: Johnnie Rico acaba de cumplir los dieciocho, y por fin se puede alistar en el Ejército 
       para cumplir con el servicio de dos años, tras el cuál se convertirá en un ciudadano con derecho al voto. A instancias de un amigo, 
       Rico se alista en la infantería móvil. Tras un duro periodo de instrucción en el campamento Arthur Currie, bajo las órdenes del sargento 
       Zim, Rico se convirtió en un soldado cualificado. Mientras tanto, una especie alienígena con aspecto de insecto gigante ataca la Tierra 
       con una violencia inusitada, convirtiendo la ciudad de Buenos Aires en un amasijo de escombros. Es el momento de que Johnnie Rico y sus 
       compañeros prueben su valía en un combate real... en el espacio.
     </p>
   </div>
   <div>
     <p class="tf_links">Puedes leerlo en:</p>
     <div class="container_sy01">
       <a href="https://play.google.com/books"><img class="imglogo" src="assets/img/gplogo.png" alt=""></a>
       <a href="https://play.google.com/store/apps/details?id=com.amazon.kindle&hl=es_MX&gl=US"><img class="imglogo" src="assets/img/aklogo.png" alt=""></a>
     </div>
   </div>
</ion-content>
