<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
      <p class="p_1">Mi cuenta</p>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <div class="img_logo">
      <img class="img_imglogo"src="assets/img/logo.png" alt="logo"> 
    </div>

  <ion-card>
    <p class="form_title"> Registrate en B&M Ratings</p>
    <ion-item>
      <ion-label position="stacked">Nombre de usuario</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Correo electrónico</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Contraseña</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <ion-card-content>
      <button class="bt_success">Registrar</button>
      <button class="bt_success">Ya tengo cuenta</button>
    </ion-card-content>
      
  </ion-card>
  

  <div class="container_info">
    <p>Beneficion de tener una cuenta</p>
    <p>- Guarda recomendaciones.</p>
    <p>- Recibe recomendaciones relacionadas a tus preferencias.</p>
  </div>
  <div style="text-align: center;">
    <a href="#">Terminos de uso</a>
  </div>
</ion-content>
