.bt_success
{
    margin-left: 0.3cm;
    width: 45%;
    height: 35px;
    background: linear-gradient(to bottom, gray, #585858);
}

.form_title
{
    color: white;
    text-align: center;
    font-size: 18px;
    margin-top: 0.2cm;
    margin-bottom: 0.1cm;
}

.img_logo
{
    text-align: center;
}

.container_info
{
    margin-left: 0.3cm;
    margin-right: 0.3cm;
}

.img_imglogo
{
    width: 55%;
    border-radius: 20px;
}