<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>El principito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="div_it">
    <ion-title>El principito</ion-title>
    <img class="bookpreview" src="assets/img/b0001p.jpg" alt="">
    <p class="tf_rating">Categoria: Fantasia</p>
    <p class="tf_rating">Calificacion: 5.0<img class="iconS" src="assets/icon/star.png" alt=""></p>
   </div>
   
   <div class="container_sy01">
     <button class="bt_option">
       <img class="iconO" src="assets/icon/shared.png" alt="">
       <p>Compartir</p>
     </button>
     <button class="bt_option">
       <img class="iconO" src="assets/icon/favorite.png" alt="">
       <p>Favoritos</p>
     </button>
   </div>
   
   <div name="about">
     <p class="tf_about">Descripcion</p>
     <p class="ta_about">
      Un aviador queda incomunicado en el desierto tras sufrir una avería en su avión a mil millas de cualquier región habitada. 
      Allí se encontrará con un pequeño príncipe de cabellos de oro que afirma vivir en el asteroide B 612 (donde hay una rosa y 
      tres volcanes) con el que no tardará en congeniar. En sus conversaciones, el principito le relatará su visión sobre la vida 
      y la gente, de esa sabiduría que se pierde cuando las personas abandonamos la infancia.
     </p>
   </div>
   <div>
     <p class="tf_links">Puedes leerlo en:</p>
     <div class="container_sy01">
       <a href="https://play.google.com/books"><img class="imglogo" src="assets/img/gplogo.png" alt=""></a>
       <a href="https://play.google.com/store/apps/details?id=com.amazon.kindle&hl=es_MX&gl=US"><img class="imglogo" src="assets/img/aklogo.png" alt=""></a>
       <a href="https://www.kobo.com/mx/es"><img class="imglogo" src="assets/img/rklogo.png" alt=""></a>
     </div>
   </div>
</ion-content>
