<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
      <p class="p_1">El castillito de Lola</p>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="div_it">
     <ion-title>El castillito de Lola</ion-title>
     <img class="bookpreview" src="assets/img/b0000p.jpg" alt="">
     <p class="tf_rating">Categoria: Infantil</p>
     <p class="tf_rating">Calificacion: 3.5<img class="iconS" src="assets/icon/star.png" alt=""></p>
    </div>
    
    <div class="container_sy01">
      <button class="bt_option">
        <img class="iconO" src="assets/icon/shared.png" alt="">
        <p>Compartir</p>
      </button>
      <button class="bt_option">
        <img class="iconO" src="assets/icon/favorite.png" alt="">
        <p>Favoritos</p>
      </button>
    </div>
    
    <div name="about">
      <p class="tf_about">Descripcion</p>
      <p class="ta_about">Una niña pequeña con una gran imaginacion logra crear un mundo lleno de maravillas, desde un dragon amigable 
        hasta un enorme castillo donde maravillosas y coloridas aventuras le esperan.</p>
    </div>
    <div>
      <p class="tf_links">Puedes leerlo en:</p>
      <div class="container_sy01">
        <a href="https://play.google.com/books"><img class="imglogo" src="assets/img/gplogo.png" alt=""></a>
        <a href="https://play.google.com/store/apps/details?id=com.amazon.kindle&hl=es_MX&gl=US"><img class="imglogo" src="assets/img/aklogo.png" alt=""></a>
        <a href="https://www.kobo.com/mx/es"><img class="imglogo" src="assets/img/rklogo.png" alt=""></a>
      </div>
    </div>
</ion-content>
