<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Romeo y Julieta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="div_it">
    <ion-title>Romeo y Julieta</ion-title>
    <img class="bookpreview" src="assets/img/b0003p.jpg" alt="">
    <p class="tf_rating">Categoria: Drama</p>
    <p class="tf_rating">Calificacion: 4.4<img class="iconS" src="assets/icon/star.png" alt=""></p>
   </div>
   
   <div class="container_sy01">
     <button class="bt_option">
       <img class="iconO" src="assets/icon/shared.png" alt="">
       <p>Compartir</p>
     </button>
     <button class="bt_option">
       <img class="iconO" src="assets/icon/favorite.png" alt="">
       <p>Favoritos</p>
     </button>
   </div>
   
   <div name="about">
     <p class="tf_about">Descripcion</p>
     <p class="ta_about">En Verona, dos jóvenes enamorados, de dos familias enemigas, son víctimas de una situación de odio y violencia que ni 
       desean ni pueden remediar. En una de esas tardes de verano en que el calor «inflama la sangre», Romeo, recién casado en secreto con su 
       amada Julieta, mata al primo de ésta.
     </p>
   </div>
   <div>
     <p class="tf_links">Puedes leerlo en:</p>
     <div class="container_sy01">
       <a href="https://play.google.com/store/apps/details?id=com.amazon.kindle&hl=es_MX&gl=US"><img class="imglogo" src="assets/img/aklogo.png" alt=""></a>
       <a href="https://www.kobo.com/mx/es"><img class="imglogo" src="assets/img/rklogo.png" alt=""></a>
     </div>
   </div>
</ion-content>
